body {
    background: rgb(4, 151, 170);
    margin: 0;
    padding: 0;
    font-family: Impact, Charcoal, sans-serif;
    color: white;
}


/*
 * Navigation Bar
 */
.nav {
    position: fixed;
    width: 100%;
    background-color: rgba(36,36,93,.8);
    text-align: center;
    line-height: 32px;
    min-height: 32px;
    box-shadow: 1px 2px 3px #444;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    box-shadow: 1px 2px 3px #444;
}

.company i {
    margin-left: 15px;
}

.nav-item {
    display: none;
}

@media (max-width: 700px) {
    .nav:hover .nav-item{
        display: block;
    }
}

.nav a {
    padding: 0 20px 0 20px;
    display: block;
    color: white;
    text-decoration: none;
    transition: background-color .3s, color .3s;
}

.nav a:hover {
    color: #444;
    background-color: rgba(183, 181, 210, .5);
}

.nav .active {
    color: #444;
    background-color: rgba(183, 181, 210, .5);
}

@media (min-width: 700px) {  

    .nav {
        line-height: 64px;
        min-height: 64px;
        text-align: right;
    }

    .nav-centered {
        width: 80%;
        margin: auto;
    }
   
    .nav li {
        box-shadow: none;

    }

    .company {
        display: block;
        margin-left: -20px;
        float: left;
    }

    .company i {
        display: none;
    }

    .nav-item {
        display: inline-block;
        text-align: right;
    }

}

/*
 * About Content
 */
.about {
    padding-bottom: 64px;
    background-color: white;
    text-align: center;
}

.about-img-container {
    margin: 74px auto 0 auto;
    flex: 1;
}

.about img {
    width: 240px;
    height: 240px;
    border-radius:50%;
}

.about-icon {
    color: white;
    background-color: rgba(36,36,93,.8);

    font-size: 32px; 
    margin: 12px 4px;
    padding: 11px 13px;
    border-radius: 50%;
    transition: color .3s, background-color .3s;
}

.about-icon:hover {
    color: rgb(4, 151, 170);
    background-color: rgba(36,36,93,.3);
}


.about-content {
    margin-top: 24px;
    color: #444;
    flex: 2;
}

@media (max-width: 699px) {
    .about {
        padding-top: 48px;
        align-content: center;
    }

}

@media (min-width: 700px) {
    .about {
        padding-top: 88px;
        display: flex;
    }
    .about-content {
        margin-right: 10%;
        text-align: right;
    }
    .about-img-container {
        margin-left: 10%;
    }
}


/*
 * Portfoio content
 */
.portfolio {
    width: 80%;
    margin: 48px auto 48px auto;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-content {
    color: #444;
    margin: 24px auto 24px auto;
    border-radius: 5px;
    background: white;
    width: 280px;
    box-shadow: 1px 2px 3px #444;
}

.portfolio img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    border-bottom: 1px solid #444;
    box-shadow: 0 2px 3px #444;
}

.portfolio a {
    color: #444;
    text-decoration: none;
}

/* 
 * Contact content
 */
.contact {
    background:white;
    color: #444;
}

.submitted {
    display: none;
    padding-top: 32px;
    font-size: 1em;
    text-align: center;
}

.submitted i {
    font-size: 128px;
    color: green;
}

@media (min-width: 700px) {
    .contact-content {
        display: flex;
    }
    .submitted {
        padding-top: 180px;
        font-size: 1.5em;
    }
}

.contact-form {
    margin-left: -48px;
    padding: 0 10% 0 10%;
    flex: 1;
}

.contact-form ul {
    list-style: none;
}

.contact-form input[type=text], input[type=email], textarea {
    padding: 32px 0 16px 0;
    width: 100%;
    color: #444;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #444;
    outline: none;
}

.contact-form textarea {
    font-family: Impact, Charcoal, sans-serif;
    height: 180px;
    resize: vertical;
}

.contact-form input[type=submit] {
    width: 100%;
    background-color: #444;
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 1.1em;
    text-decoration: none;
    margin: 12px 2px;
    cursor: pointer;
}

::placeholder {
    color: #444;
}

.contact-info {
    font-size: 1.3em;
    padding: 20px;
    flex: 1;
}

.contact-info i {
    color:  rgb(4, 151, 170);
    padding-right: 16px;
}

@media (max-width: 700px) {
    .contact-info p {
        font-size: .9em;
        padding-right: 6px;
    }
}


/*
 * Footer content
 */

.footer {
    padding-top: 12px;
    margin-top: -48px;
}

@media (min-width: 700px) {
    .footer {
        display: flex;
    }
}

.footer-content {
    height: 154px;
    text-align: center;
    flex: 1;
}

.footer p {
    margin: 20px;
    font-size: normal;
}

.footer p a {
    color: rgb(183, 181, 210);
    text-decoration: none;
    transition: color .3s;
}

.footer-icon {
    color:  white;
    font-size: 36px; 
    margin: 12px 10px;
    transition: color .3s, background-color .3s;
}

.footer-icon:hover, .footer a:hover {
    color: rgba(36,36,93,.5);
}


/* Bottom border content */
.bottom-border {
    color: rgb(183, 181, 210);
    width: 100%;
    min-height: 72px;
    background-color: rgba(36,36,93,.8);
}

.bottom-border p {
    text-align: center;
    margin: 0;
    padding: 28px;
}
 .bottom-border a {
     color: rgb(183, 181, 210);
     text-decoration: none;
     transition: color .3s;
 }

 .bottom-border a:hover {
     color: white;
 }

/* 
 * Other Elements
 */
.section {
    background-size: cover;
    padding-top: 64px; 
    min-height: 100vh;
    margin-bottom: -10px;
}

@media (max-width: 699) {
    .section {
        padding-top: 24px;
    }
}


p {
    font-size: 1.05em;
    margin: 20px 30px 20px 30px;
}

h1, h2, h3 {
    font-weight: normal;
    text-align: center;
}

hr {
    height: 1px;
    width: 48%;
    border-bottom: 1px solid rgb(223, 221, 250);
    margin-top: 28px;
    margin-bottom: 48px;
}

.hr-light {
    background-color: white;
}

.hr-dark {
    background-color: #444;
} 

::selection {
    color: rgb(222, 247, 0);
}